
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div style="background-color: rgb(146, 145, 155); border: 5px;">
      <h1>Welcome to Eliterealestate Tenerife</h1>
      <br>
      <h2>At Eliterealestate Tenerife, we are your trusted partner for buying and selling real estate on the beautiful island of Tenerife. Whether you are looking for your dream home, a smart investment, or planning to sell your current property, our experienced team is here to guide you every step of the way.  
      <br>
      <br>
        With in-depth knowledge of the local real estate market and an extensive network, we ensure a smooth and successful experience. We always put your needs and priorities first.  
      <br>
      <br>
        Discover what Eliterealestate Tenerife can do for you and contact us today!</h2>
    </div>

    <header class=" text-center py-5 mb-4 new">
      <div class="container">
        <h1 class="font-weight-light text-white">Our Team</h1>
      </div>
    </header>


    <div class="container ">
    <div class="row">
    
    <div class="col-xl-3 col-md-6 mb-4 ">
      <div class=" border-0 ">
                  <div class="">
                  <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="" class="card-img-top" alt ="">
                <div class=" text-center  ">
                <h5 class=" mb-0"></h5>
                <div class="text-black-50"></div>
                
               </div>
              </div>
              <div class="">
                <h1 class = "person text- "></h1> 
                <p class ="description text-black-50"></p>
                
              </div>
              </div>    
      </div>
    </div>
    
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 ">
        <div class="flip-card">
                  <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/media/image0.jpeg" class="card-img-top" alt ="avatar">
                <div class="card-body text-center ">
                <h5 class="card-title mb-0">Nathalie van Lysebetten</h5>
                <div class="card-text text-black-50">CEO</div>
               </div>
              </div>
              <div class="flip-card-back">
                <h1 class = "person text- ">Nathalie van Lysebetten</h1> 
                <p class ="description text-black-50">CEO of Elite Real Estate Tenerife</p> 
                <a href="#" class="fa fa-facebook"></a>
                <a href="https://api.whatsapp.com/send/?phone=34613494305&text=Contact+us+today+to+see+how+we+can+assist+you+to+navigate+the+property+market.&type=phone_number&app_absent=0" class="fa fa-whatsapp"></a>
                <a href="#" class="fa fa-linkedin"></a>
                
              </div>
              </div>    
      </div>
    </div>
    
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 ">
         <div class="flip-card">
                  <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/media/image1.jpeg" class="card-img-top" alt ="avatar">
                <div class="card-body text-center  ">
                <h5 class="card-title mb-0">Frances Lafort</h5>
                <div class="card-text text-black-50">COO</div>
                
               </div>
              </div>
              <div class="flip-card-back">
                <h1 class = "person text- ">Frances Lafort</h1> 
                <p class ="description text-black-50">COO of Elite Real Estate Tenerife</p> 
                <a href="#" class="fa fa-facebook"></a>
                <a href="https://api.whatsapp.com/send/?phone=34613494305&text=Contact+us+today+to+see+how+we+can+assist+you+to+navigate+the+property+market.&type=phone_number&app_absent=0" class="fa fa-whatsapp"></a>
                <a href="#" class="fa fa-linkedin"></a>
                
              </div>
              </div>    
      </div>
    </div>
    
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class=" border-0 ">
         <div class="">
                  <div class="">
                  <div class="">
                    <img src="" class="card-img-top" alt ="">
                <div class="">
                <h5 class="mb-0"></h5>
                <div class=" text-black-50"></div>
            
               </div>
              </div>
              <div class="">
                <h1 class = "">r</h1> 
                <p class ="description text-black-50"></p>
                
              </div>
              </div>    
      </div>
    </div>
    
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-black" style="width: 100%;">
        <div style="color: aliceblue; text-align: center; font-size: x-large;">
            <br>
            <a href="https://www.facebook.com/profile.php?id=61563986484841/" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!--<a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>-->
            <a href="https://www.instagram.com/eliterealestatetenerife/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <!--<a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>-->
          </div>
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Elite Real Estate Tererife 2024</p></div>
    </footer>
{% endblock %}
