
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <img src="/media/Welcome Photo.jpg" class="rounded mx-auto d-block" alt="..." width="100%">
    <!--========Cards========-->
    <div class="container-fluid main-cont">
        <div class="row news-row">
            <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
                <div class="card-group">
                  <div class="underlay">
                    <div class="card" >
                        <div class="card-img-top" style="background-image: url('/media/Los\ Cristianos.jpg'); background-repeat: no-repeat" href="{% url 'listings' %}?category=los_cristianos_apartments,los_cristianos_houses,los_cristianos_villas"></div>
                        <div class="card-block" >
                        <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=los_cristianos_apartments,los_cristianos_houses,los_cristianos_villas">Los Cristianos</a><hr></h5>
                        <p class="card-text" >Canon will have a full slate of new and updated products to show attendees at this year’s NAB Show. The company has announced its new Compact-Servo 70-200mm telephoto zoom lens <a href="#"><u>Read More...</u></a></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                  </div>
                  <div class="underlay">
                  <div class="card">
                        <div class="card-img-top" style="background-image: url('/media/Playa\ de\ Las\ Americas.jpeg'); background-repeat: no-repeat"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=las_americas_apartments,las_americas_houses,las_americas_villas">Las Americas</a><hr></h5>
                          <p class="card-text" >The brown Sennheiser HD 598 audiophile headphones have excellent, detailed hi-fi sound and a stylish design. They are comfortable to wear and offer versatility as well. These accessories feature a multi-dimensional soundstage <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top" style="background-image: url('/media/Adeje.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=adeje_apartments,adeje_houses,adeje_villas">Adeje</a><hr></h5>
                          <p class="card-text" >The harnessing of energy has never been without projects of monolithic scale. From the Hoover Dam to the Three Gorges—the world's largest power station—engineers the world over have recognised that with size comes advantages <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top" style="background-image: url('/media/Costa\ del\ Silencio.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=costa_del_silencio_apartments,costa_del_silencio_houses,costa_del_silencio_villas">Costa del Silencio</a><hr></h5>
                          <p class="card-text" >In 2015 we reported on an issue with MacBook Retina displays that were seeing problems with the anti-reflective coating wearing off, which came to be known as ‘Staingate.’ <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top" style="background-image: url('/media/Grenadilla\ de\ Abona.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=grenadilla_de_abona_apartments,grenadilla_de_abona_houses,grenadilla_de_abona_villas">Grenadilla de Abona</a><hr></h5>
                          <p class="card-text" >Modern processors can run at temperatures ranging from 25 to 90 degrees, depending on configuration, cooling and workload. That said, when a CPU takes on a heavy load, that increase is gradual <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top" style="background-image: url('/media/Guia\ de\ Isora.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=guia_de_isora_apartments,guia_de_isora_houses,guia_de_isora_villas">Guia de Isora</a><hr></h5>
                          <p class="card-text" >In the latest edition of the T3 Agenda, we prepare to box our ears with Beats By Dre's Anthony Joshua headphones, detail the pre-order incentives and special editions of Call of Duty WW2 <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top" style="background-image: url()"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"><hr></h5>
                          <p class="card-text" >It has been 5 years since Steve Jobs passed away. Many publications write about how Apple Inc. has faired under Tim Cook's leadership post-Jobs <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top" style="background-image: url('/media/Norte.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=norte_apartments,norte_houses,norte_villas">Norte</a><hr></h5>
                          <p class="card-text" >Officially, in order to use AirPlay to stream music from your iOS device, you would need either an Apple TV, AirPort Express, or an AirPlay-enabled receiver or set of speakers <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top" style="background-image: url('')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"><hr></h5>
                          <p class="card-text" >In a makeshift lab, a trio of brainiac students argue over their time-travel device. The skeptic on the team has her doubts—not that the invention will work <a href="#"><u>Read More...</u></a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------>
    <!--=======Scripts======-->
    <script src="jquery-3.1.1.min.js"></script>
    <script name="toggle-grid" type="text/javascript">
    $(document).ready(function(){
      $(document).on("keypress", function(event) {
        // If 'alt + g' keys are pressed:
        if (event.which === 169){
            $('#toggle-grid').toggle();
        }
      });

      $('#toggle-grid').on("click"
      , function() {
          $('.pixel-grid').toggle();
          $('#toggle-grid').toggleClass('orange');
        });
    });
    </script>
    
    <!-- Footer-->
    <footer class="py-5 bg-black">
        <div style="color: aliceblue; text-align: center; font-size: x-large;">
            <br>
            <a href="https://www.facebook.com/profile.php?id=61563986484841/" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!--<a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>-->
            <a href="https://www.instagram.com/eliterealestatetenerife/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <!--<a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>-->
          </div>
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Elite Real Estate Tererife 2024</p></div>
    </footer>
{% endblock %}
