
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <img src="/media/Welcome Photo.jpg" class="rounded mx-auto d-block" alt="..." width="100%">
    <!--========Cards========-->
    <div class="container-fluid main-cont">
        <div class="row news-row">
            <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
                <div class="card-group">
                  <a href="{% url 'listings' %}?category=los_cristianos_apartments,los_cristianos_houses,los_cristianos_villas">
                    <div class="underlay">
                      <div class="card" >
                          <div class="card-img-top2" style="background-image: url('/media/Los\ Cristianos.jpg'); background-repeat: no-repeat" href="{% url 'listings' %}?category=los_cristianos_apartments,los_cristianos_houses,los_cristianos_villas"></div>
                          <div class="card-block" >
                            <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=los_cristianos_apartments,los_cristianos_houses,los_cristianos_villas">Los Cristianos</a><hr></h5>
                            <p class="card-text" ></p>
                            <p class="card-text"><small class="text-muted"></small></p>
                          </div>
                      </div>
                    </div>
                  </a>
                  <a href="{% url 'listings' %}?category=las_americas_apartments,las_americas_houses,las_americas_villas">
                  <div class="underlay">
                    <div class="card">
                          <div class="card-img-top2" style="background-image: url('/media/Playa\ de\ Las\ Americas.jpeg'); background-repeat: no-repeat"></div>
                          <div class="card-block" >
                            <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=las_americas_apartments,las_americas_houses,las_americas_villas">Las Americas</a><hr></h5>
                            <p class="card-text" ></p>
                            <p class="card-text"><small class="text-muted"></small></p>
                          </div>
                        </div>
                    </div>   
                  </a>
                  <a href="{% url 'listings' %}?category=adeje_apartments,adeje_houses,adeje_villas">
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top2" style="background-image: url('/media/Adeje.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=adeje_apartments,adeje_houses,adeje_villas">Adeje</a><hr></h5>
                          <p class="card-text" ></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="{% url 'listings' %}?category=costa_del_silencio_apartments,costa_del_silencio_houses,costa_del_silencio_villas">
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top2" style="background-image: url('/media/Costa\ del\ Silencio.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=costa_del_silencio_apartments,costa_del_silencio_houses,costa_del_silencio_villas">Costa del Silencio</a><hr></h5>
                          <p class="card-text" ></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="{% url 'listings' %}?category=grenadilla_de_abona_apartments,grenadilla_de_abona_houses,grenadilla_de_abona_villas">
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top2" style="background-image: url('/media/Grenadilla\ de\ Abona.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=grenadilla_de_abona_apartments,grenadilla_de_abona_houses,grenadilla_de_abona_villas">Grenadilla de Abona</a><hr></h5>
                          <p class="card-text" ></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="{% url 'listings' %}?category=guia_de_isora_apartments,guia_de_isora_houses,guia_de_isora_villas">
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top2" style="background-image: url('/media/Guia\ de\ Isora.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=guia_de_isora_apartments,guia_de_isora_houses,guia_de_isora_villas">Guia de Isora</a><hr></h5>
                          <p class="card-text" ></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                    </div>
                  </a>  
                  <a href="">
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top2" style="background-image: url()"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"><hr></h5>
                          <p class="card-text" ></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="{% url 'listings' %}?category=norte_apartments,norte_houses,norte_villas">
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top2" style="background-image: url('/media/Norte.jpeg')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"> <a href="{% url 'listings' %}?category=norte_apartments,norte_houses,norte_villas">Norte</a><hr></h5>
                          <p class="card-text" ></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="">
                    <div class="underlay">
                      <div class="card">
                        <div class="card-img-top2" style="background-image: url('')"></div>
                        <div class="card-block" >
                          <h5 class="card-title" style="font-family: 'Anton', sans-serif"><hr></h5>
                          <p class="card-text" ></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------>
    <!--=======Scripts======-->
    <script src="jquery-3.1.1.min.js"></script>
    <script name="toggle-grid" type="text/javascript">
    $(document).ready(function(){
      $(document).on("keypress", function(event) {
        // If 'alt + g' keys are pressed:
        if (event.which === 169){
            $('#toggle-grid').toggle();
        }
      });

      $('#toggle-grid').on("click"
      , function() {
          $('.pixel-grid').toggle();
          $('#toggle-grid').toggleClass('orange');
        });
    });
    </script>
    
    <!-- Footer-->
    <footer class="py-5 bg-black">
        <div style="color: aliceblue; text-align: center; font-size: x-large;">
            <br>
            <a href="https://www.facebook.com/profile.php?id=61563986484841/" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!--<a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>-->
            <a href="https://www.instagram.com/eliterealestatetenerife/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <!--<a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>-->
          </div>
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Elite Real Estate Tererife 2024</p></div>
    </footer>
{% endblock %}
