
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Properties
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-listings-link">
                <a href="{% url 'listings' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'listings' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'listings' %}?sort=category&direction=asc" class="dropdown-item ">By Area</a>
                <a href="{% url 'listings' %}" class="dropdown-item">All Listings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Arona
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'listings' %}?category=arona_town_apartments,arona_town_houses,arona_town_villas" class="dropdown-item">Arona Town</a>
                <a href="{% url 'listings' %}?category=buzanada_apartments,buzanada_houses,buzanada_villas" class="dropdown-item">Buzanada</a>
                <a href="{% url 'listings' %}?category=los_cristianos_apartments,los_cristianos_houses,los_cristianos_villas" class="dropdown-item">Los Cristianos</a>
                <a href="{% url 'listings' %}?category=arona_town_apartments,arona_town_houses,arona_town_villas,buzanada_apartments,buzanada_houses,buzanada_villas,los_cristianos_apartments,los_cristianos_houses,los_cristianos_villas" class="dropdown-item">ALL Arona Municipal</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adeje
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'listings' %}?category=adeje_town_apartments,adeje_town_houses,adeje_town_villas" class="dropdown-item">Adeje Town</a>
                <a href="{% url 'listings' %}?category=costa_adeje_apartments,costa_adeje_houses,costa_adeje_villas" class="dropdown-item">Costa Adeje</a>
                <a href="{% url 'listings' %}?category=adeje_town_apartments,adeje_town_houses,adeje_town_villas,costa_adeje_apartments,costa_adeje_houses,costa_adeje_villas" class="dropdown-item">ALL Adeje Municipal</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'listings' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'listings' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'listings' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'listings' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
